body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #30;
    color: white
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: #00bcd4;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    text-align: center;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
}
